@use '@carbon/react';

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.app-content {
  padding: 1rem 2rem;
  max-width: 1584px;
  margin: 0 auto;
}

// Toast container
.toast-container {
  position: fixed;
  top: 3.5rem;
  right: 1rem;
  z-index: 9000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
}
